{% extends "admin/no_collaps.html"%}
{% block siteInfoClass%}active{%endblock%}
{%block content%}
<h1 class="page-title">網站資訊 <small><small>總覽</small></small></h1>
<div class="row">
	<div class="col-md-6 col-sm-6">
		<section class="widget bg-primary text-white">
			<div class="widget-body clearfix">
				<div class="row">
					<div class="col-xs-3">
						<span class="widget-icon">
							<i class="fa fa-area-chart"></i>
						</span>
					</div>
					<div class="col-xs-9">
						<h5 class="no-margin">網站累積瀏覽次數</h5>
						<p class="h2 no-margin fw-normal">{{allvisit}}</p>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<h5 class="no-margin">今日訪問人數</h5>
						<p class="value4">+{{todayvisit}}</p>
					</div>
					<div class="col-xs-6">
						<h5 class="no-margin">訪客量</h5>
						<p class="value4">{{todayvisit/allvisit*100}}%</p>
					</div>
				</div>
			</div>
		</section>
	</div>
	<div class="col-md-6 col-sm-6">
		<section class="widget bg-info text-white">
			<div class="widget-body clearfix">
				<div class="row">
					<div class="col-xs-3">
						<span class="widget-icon">
							<i class=" fa fa-users"></i>
						</span>
					</div>
					<div class="col-xs-9">
						<div class="live-tile" data-mode="carousel" data-speed="750" data-delay="3000" data-height="57">
							<div>
								<h5 class="no-margin">會員人數</h5>
								<p class="h2 no-margin fw-normal">{{allmemcount}}</p>
							</div>
							<div>
								<h5 class="no-margin">學生會員</h5>
								<p class="h2 no-margin fw-normal"></p>
							</div>
							<div>
								<h5 class="no-margin">一般會員</h5>
								<p class="h2 no-margin fw-normal"></p>
							</div>
							<div>
								<h5 class="no-margin">企業會員</h5>
								<p class="h2 no-margin fw-normal"></p>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<h5 class="no-margin">今日註冊量</h5>
						<div class="live-tile" data-mode="carousel" data-speed="750" data-delay="3000" data-height="25">
							<div>
								<p class="value4">1,332</p>
							</div>
							<div>
								<p class="value4">20.1%</p>
							</div>
							<div>
								<p class="value4">20.1%</p>
							</div>
							<div>
								<p class="value4">20.1%</p>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<h5 class="no-margin">註冊數</h5>
						<div class="live-tile" data-mode="carousel" data-speed="750" data-delay="3000" data-height="26">
							<div>
								<p class="value4">217</p>
							</div>
							<div>
								<p class="value4">20.1%</p>
							</div>
							<div>
								<p class="value4">20.1%</p>
							</div>
							<div>
								<p class="value4">2.3%</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>
<div class="row">
	<div class="col-md-6 col-sm-6">
		<section class="widget bg-primary text-white">
			<div class="widget-body clearfix">
				<div class="row">
					<div class="col-xs-3">
						<span class="widget-icon">
							<i class="fa fa-list"></i>
						</span>
					</div>
					<div class="col-xs-9">
						<h5 class="no-margin">總課程數量</h5>
						<p class="h2 no-margin fw-normal">4,332</p>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<h5 class="no-margin">待審核課程</h5>
						<p class="value4">+830</p>
					</div>
					<div class="col-xs-6">
						<h5 class="no-margin">待開課提案</h5>
						<p class="value4">4.5%</p>
					</div>
				</div>
			</div>
		</section>
	</div>
	<div class="col-md-6 col-sm-6">
		<section class="widget bg-primary text-white">
			<div class="widget-body clearfix">
				<div class="row">
					<div class="col-xs-3">
						<span class="widget-icon">
							<i class="fa fa-star"></i>
						</span>
					</div>
					<div class="col-xs-9">
						<h5 class="no-margin">總活動數量</h5>
						<p class="h2 no-margin fw-normal">4,332</p>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<h5 class="no-margin">待審核活動</h5>
						<p class="value4">+830</p>
					</div>
					<div class="col-xs-6">
						<h5 class="no-margin">待舉辦提案</h5>
						<p class="value4">4.5%</p>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>
<script src="/static/admin/js/widgets.js"></script>
{%endblock%}
{% block script%}
<script src="/static/admin/js/widgets.js"></script>
{%endblock%}
