{% extends "admin/base.html"%}
{%block sidebar%}
<nav id="sidebar" class="sidebar" role="navigation">
	<!-- need this .js class to initiate slimscroll -->
	<div class="js-sidebar-content">
		<header class="logo hidden-xs">
			<a href="/">yunzhong</a>
		</header>
		<!-- seems like lots of recent admin template have this feature of user info in the sidebar.
	  looks good, so adding it and enhancing with notifications -->
	  <div class="sidebar-status visible-xs">
		  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
			  <span class="thumb-sm avatar pull-right">
				  <img class="img-circle" src="demo/img/people/a5.jpg" alt="...">
			  </span>
			  <!-- .circle is a pretty cool way to add a bit of beauty to raw data.
		 should be used with bg-* and text-* classes for colors -->
		 <span class="circle bg-warning fw-bold text-gray-dark">
			 13
		 </span>
		 &nbsp;
		 Philip <strong>Smith</strong>
		 <b class="caret"></b>
		  </a>
		  <!-- #notifications-dropdown-menu goes here when screen collapsed to xs or sm -->
	  </div>
	  <!-- main notification links are placed inside of .sidebar-nav -->
	  <ul class="sidebar-nav">
		  <!--			<li class="active">
		<a href="#sidebar-dashboard" data-toggle="collapse" data-parent="#sidebar">
		<span class="icon">
		<i class="fa fa-desktop"></i>
		</span>
		Dashboard
		<i class="toggle fa fa-angle-down"></i>
		</a>
		<ul id="sidebar-dashboard" class="collapse in">
		<li class="active"><a href="index.html">Dashboard</a></li>
		<li><a href="widgets.html">Widgets</a></li>
		</ul>
		</li> -->
		<li class="{% block siteInfoClass%}{%endblock%}">
			<a href="/admin">
				<span class="icon">
					<i class="fa fa-info" aria-hidden="true"></i>
				</span>
				網站資訊
				<!--                    <span class="label label-danger">
		9
		</span> -->
			</a>
		</li>
	  </ul>
	  <!-- every .sidebar-nav may have a title -->
	  <h5 class="sidebar-nav-title">提案管理 <a class="action-link" href="#"></a></h5>
	  <ul class="sidebar-nav">
		  <li class="{% block nowSubmitClass%}{%endblock%}">
			  <a href="/admin/class/submit">
				  <span class="icon">
					  <i class="fa fa-list" aria-hidden="true"></i>
				  </span>
				  上架課程管理
			  </a>
		  </li>
		  <li class="{% block nowactiSubmitClass%}{%endblock%}">
			  <a href="/admin/acti/submit">
				  <span class="icon">
					  <i class="fa fa-list" aria-hidden="true"></i>
				  </span>
				  上架活動管理

			  </a>
		  </li>
		  <li class="{% block unactiSubmitClass%}{%endblock%}">
			  <a href="/admin/acti/unsubmit">
				  <span class="icon">
					  <i class="fa fa-check" aria-hidden="true"></i>
				  </span>
				  活動提案審核
			  </a>
		  </li>
		  <li class="{% block unclassSubmitClass%}{%endblock%}">
			  <a href="/admin/class/unsubmit">
				  <span class="icon">
					  <i class="fa fa-check" aria-hidden="true"></i>
				  </span>
				  課程提案審核
			  </a>
		  </li>

	  </ul>
	  <h5 class="sidebar-nav-title">會員系統 <a class="action-link" href="#"></a></h5>
	  <ul class="sidebar-nav">
		  <li class="{% block memberMGMTClass%}{%endblock%}">
			  <a href="/admin/user">
				  <span class="icon">
					  <i class="fa fa-users" aria-hidden="true"></i>
				  </span>
				  會員管理
			  </a>
		  </li>
		  <li class="{% block entMGMTClass%}{%endblock%}">
			  <a href="/">
				  <span class="icon">
					  <i class="fa fa-building" aria-hidden="true"></i>
				  </span>
				  企業會員認證
			  </a>
		  </li>
	  </ul>
	  <h5 class="sidebar-nav-title">版面管理 <a class="action-link" href="#"></a></h5>
	  <ul class="sidebar-nav">
		  <li class="{% block editsiteClass%}{%endblock%}">
			  <a href="/admin/siteedit">
				  <span class="icon">
					  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
				  </span>
				  資訊修改
			  </a>
		  </li>
		  <li class="{% block aboutMeClass%}{%endblock%}">
			  <a href="/admin/about">
				  <span class="icon">
					  <i class="fa fa-user"></i>
				  </span>
				  關於我們
			  </a>
		  </li>
		  <li class="{% block collapseClass%}{%endblock%}">
			  <a href="#member-dashboard" data-toggle="collapse" data-parent="#sidebar">
				  <span class="icon">
					  <i class="fa fa-certificate" aria-hidden="true"></i>
				  </span>
				  會員合約
				  <i class="toggle fa fa-angle-down"></i>
			  </a>
			  <ul id="member-dashboard" class="collapse">
				  <li><a href="/admin/general">一般會員</a></li>
				  <li><a href="/admin/student">學生會員</a></li>
				  <li><a href="/admin/company">企業會員</a></li>
			  </ul>
		  </li>
	  </ul>
	</div>
</nav>
{%endblock%}

