{% extends "admin/no_collaps.html"%}
{% block memeberMGMTClass%}active{%endblock%}
{%block content%}
<h1 class="page-title">會員管理 <small><small>會員查詢編輯</small></small></h1>
<div class="row">
	<div class="col-md-12">
		<section class="widget">
			<header>
				<h4>
					總人數
				</h4>
			</header>
			<div class="widget-body">
				<table class="table">
					<thead>
						<tr>
							<th>會員姓名</th>
							<th>會員信箱</th>
							<th>會員型別</th>
							<th>聯絡電話</th>
							<th>註冊時間</th>
						</tr>
					</thead>
					<tbody>
						{% for mem in pagemem %}
						<tr>
							<td>
								{{ mem.get('name')}}
							</td>
							<td>
								{{ mem.get('email')}}
							</td>
							<td class="hidden-xs text-semi-muted">
								{% if mem.get('school') %}
								學生
								{% elif mem.get('companyname')%}
								一般
								{% elif mem.get('companyuser')%}
								企業
								{%endif%}
							</td>
							<td class="hidden-xs text-semi-muted">
								0{{ mem.get('phone')}}
							</td>
							<td>
								{{ mem.get('date')}}
							</td>
						</tr>
						{%endfor%}
					</tbody>

				</table>
				<div class="clearfix">
                    {{ pagin.links }}
				</div>
			</div>
		</section>
	</div>
</div>
{%endblock%}
{% block script%}
<script src="/static/admin/js/widgets.js"></script>
{%endblock%}
