{% extends "base.html"%}
{% block body %}
    
<div id="in-container" class="general-box"> 

<div class="container">
<div class="row space">

    <div class="col-xs-12 in-breadcrumb">
        <ol class="breadcrumb">
          <li><a href="index.html">首頁</a></li>
          <li class="active">會員資料編輯</li>
        </ol>
    </div><!--in-breadcrumb-->

    <div id="content" class="in-content col-xs-12">
    
    	<h2 class= "page-header">會員資料編輯</h2>
    
    	<div id="member">
                <form class="form-horizontal">
                  <div class="form-group">
                    <label for="" class="col-lg-2 col-sm-3 control-label"><span class="red">*</span> 註冊Email：</label>
                    <div class="col-lg-10 col-sm-9 member-info-word">
                        {{current_user.email() }}
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="" class="col-lg-2 col-sm-3 control-label"><span class="red">*</span> 密碼：</label>
                    <div class="col-lg-10 col-sm-9">
                      <input type="password" class="form-control" id="" placeholder="">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="" class="col-lg-2 col-sm-3 control-label"><span class="red">*</span> 確認密碼：</label>
                    <div class="col-lg-10 col-sm-9">
                      <input type="password" class="form-control" id="" placeholder="">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="" class="col-lg-2 col-sm-3 control-label"><span class="red">*</span> 姓名：</label>
                    <div class="col-lg-10 col-sm-9 member-info-word">
                        {{ current_user.info()['name'] }}

                    </div>
                  </div>
                  <div class="form-group birth">
                    <label for="" class="col-lg-2 col-sm-3 control-label"><span class="red">*</span> 生日：</label>
                    <div class="col-lg-10 col-sm-9 member-info-word">
                        {% set birthday = current_user.info()['birthday']|string %}
                        {{ birthday.split(' ')[0] }}
                    
                    </div>
                  </div>
                  <div class="form-group country">
                    <label for="" class="col-lg-2 col-sm-3 control-label"><span class="red">*</span> 國籍：</label>
                    <div class="col-lg-10 col-sm-9 member-info-word">
                        {% if 'taiwan' in current_user.info()['country'] %}
                        臺灣
                        {% elif 'china' in current_user.info()['country'] %}
                        陸生
                        {% elif 'japan' in current_user.info()['country'] %}
                        日本
                        {% elif 'korea' in current_user.info()['country'] %}
                        韓國
                        {% endif %}
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="" class="col-lg-2 col-sm-3 control-label"><span class="red">*</span> 手機：</label>
                    <div class="col-lg-10 col-sm-9">
                      <input type="" class="form-control" placeholder="" value="0936123456">
                    </div>
                  </div>
                  <div class="form-group address">
                    <label for="" class="col-lg-2 col-sm-3 control-label"><span class="red">*</span> 地址：</label>
                    <div class="col-lg-10 col-sm-9 select-inline">
                        <input type="" class="form-control postalcode" placeholder="郵遞區號" value="320">
                        <select class="form-control">
                          <option>桃園市</option>
                          <option>台北市</option>
                          <option>新北市</option>
                        </select>
                        <select class="form-control">
                          <option>中壢區</option>
                          <option>平鎮區</option>
                          <option>楊梅區</option>
                        </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="" class="col-lg-2 col-sm-3 control-label hidden-xs"></label>
                    <div class="col-lg-10 col-sm-9">
                      <input type="" class="form-control" placeholder="" value="環北路400號">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="" class="col-lg-2 col-sm-3 control-label">LINE ID：</label>
                    <div class="col-lg-10 col-sm-9">
                      <input type="" class="form-control" id="" placeholder="">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="" class="col-lg-2 col-sm-3 control-label">FB帳號：</label>
                    <div class="col-lg-10 col-sm-9">
                      <input type="" class="form-control" id="" placeholder="">
                    </div>
                  </div>
                  <div class="form-group education">
                    <label for="" class="col-lg-2 col-sm-3 control-label"><span class="red">*</span> 學歷狀態：</label>
                    <div class="col-lg-10 col-sm-9 select-inline">
                        <label class="checkbox-inline checkbox-inline-xs">
                          <input type="radio" name="inlineRadioOptions2" id="" value=""> 國中
                        </label>
                        <label class="checkbox-inline checkbox-inline-xs">
                          <input type="radio" name="inlineRadioOptions2" id="" value=""> 高中
                        </label>
                        <label class="checkbox-inline">
                          <input name="inlineRadioOptions2" type="radio" id="" value="" checked> 大學 
                        </label>
                        <select class="form-control">
                          <option>大一</option>
                          <option>大二</option>
                          <option>大三</option>
                          <option selected>大四</option>
                        </select>
                        <br class="visible-xs">
                        <label class="checkbox-inline checkbox-inline-xs2" style="margin-left:10px;">
                          <input type="radio" name="inlineRadioOptions2" id="" value=""> 研究所 
                        </label>
                        <select class="form-control" style="margin-left:0;">
                          <option>碩士</option>
                          <option>博士</option>
                        </select>
                        <label class="checkbox-inline checkbox-inline-xs" style="margin-left:10px;">
                          <input type="radio" name="inlineRadioOptions2" id="" value=""> 其他 
                        </label>

                    </div>
                  </div>
                  <div class="form-group">
                    <label for="" class="col-lg-2 col-sm-3 control-label"><span class="red">*</span> 畢業 / 就讀學校：</label>
                    <div class="col-lg-10 col-sm-9">
                      <input type="" class="form-control" placeholder="" value="XX大學">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="" class="col-lg-2 col-sm-3 control-label"><span class="red">*</span> 畢業 / 就讀科系：</label>
                    <div class="col-lg-10 col-sm-9">
                      <input type="" class="form-control" placeholder="" value="XX科系">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-lg-offset-2 col-sm-offset-3 col-lg-10 col-sm-9">
                      <button type="submit" class="btn btn-default">取消重設</button>
					  <button type="button" id="back-login" class="btn btn-default hidden-xs">儲存變更</button>
                    </div>
                  </div>
                </form>




        </div>
    
    </div>
        
</div><!--/row space-->
    
</div>
</div>



{% endblock %}
