{% extends "base.html"%}
{% block body %}
    
<div id="in-container" class="proinfo-show-box"> 

<div class="container">




<div class="row space">

    <div class="col-xs-12 in-breadcrumb">
        <ol class="breadcrumb">
          <li><a href="/">首頁</a></li>
          <li>購物車</li>
          <li class="active">票卷確認購買</li>
        </ol>
    </div><!--in-breadcrumb-->

    <div id="content" class="in-content col-xs-12">
        
        
        <div class="row">
           
        
            <div id="proinfo-show" class="col-xs-12 pro-show">

                
                 <div class="proinfo-content">
                 
                 <h3>加入購物車</h3> 
                  <div class="ng-scope">
                       
                       
                    <form action='/proinfo/checked'  method='GET'>
                         <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th  class="text-center" valign="center">NO.</th>
                    <th >票劵名稱</th>
                    <th width="229">票價</th>
                    <th width="50">張數</th>
                    <th width="229">小計</th>
                </tr>
            </thead>
            <tbody>
                {% for x in buyinfo -%}
                    <tr>
                        <td width="64" align="center">{{loop.index}}.</td>
                        <td width="419" valign="middle">{{x[0]}}</td>
                        <td valign="middle" class="ticket-price text-center">NT$ {{x[1]}}</td>
                        <td valign="middle" class="center">{{x[2]}}</td>
                        <td valign="middle" class="ticket-price text-center">NT$ {{x[1] * x[2]}}</td>
                    </tr>
                 {%endfor -%}
                    <tr>
                       <td colspan="1" align="right"> 
                       </td>
                       <td colspan="3" align="right">訂單總計</td>
                       <td class="ticket-price text-center">NT$ {{allmoney}}</td>
                    </tr>
            </tbody>
        </table>
                         {%if request.cookies.get('num') %}
                       <a href="/proinfo/clear" style="color:#999">清空購物車</a> 
                     {% endif %}
                      </div>
                         <div class="row" ng-init="va.checkUserProfile()"></div>
                         {%if request.cookies.get('num') %}
                    {% if current_user.is_authenticated %}
                         <div class="proinfo-form-btn" style="margin:5% auto"><input type="submit" class="btn btn-warning" value="確認結帳"></div> 
                     {%else%}
                         <div class="proinfo-form-btn" style="margin:5% auto"><input  class="btn" disabled='True' value="請登入/或是註冊會員結帳"></div> 
                     {%endif%}
                     {% endif %}
                       </form>
                       <div class="proinfo-form-btn visible-xs"><a class="btn btn-default btn-lg btn-block" target="_self" href="#">返回活動頁</a></div> 
                       
                       <ul class="list-unstyled APCSS_stepBox">
        <li class="">
            <span class="wrp">
                <span class="md">step</span>
                1. 確認報名
                    <span class="arr"></span>
            </span>
        </li>
        <li class="">
            <span class="wrp">
                <span class="md">step</span>
                2. 填寫資料
                    <span class="arr"></span>
            </span>
        </li>
        <li class="">
            <span class="wrp">
                <span class="md">step</span>
                3. 選擇付款
                    <span class="arr"></span>
            </span>
        </li>
        <li class="">
            <span class="wrp">
                <span class="md">step</span>
                4. 前往付款
            </span>
        </li>
    
</ul>
                    </div>     
                   </div><!--/proinfo-content-->
                  
                  </div><!--/proinfo-show-->

                <hr>

            </div>


           
    </div>
        
</div><!--/row space-->
    
</div>
</div>


{% endblock %}
