{% extends "base.html"%}
{% block body %}

<div id="in-container" class="proinfo-box"> 

    <div class="container">
        <div class="row space" style="padding-top:20px; padding-bottom:20px;">

            <div class="col-xs-12 in-breadcrumb">
                <ol class="breadcrumb">
                    <li><a href="/">首頁</a></li>
                    <li>多元活動</li>
                    <li class="active">活動總覽</li>
                </ol>
            </div><!--in-breadcrumb-->

            <div id="content" class="in-content col-xs-12">

                <div class="row">

                    <div class="col-xs-12">
                        <div class="filter-box">
                            <div id="proinfo-nav" class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <form class="form-inline" method="get" action="/search/">
                                        <div class="form-group">
                                            <input name='title'class="form-control" placeholder="點此搜尋想要的課程&活動">
                                            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div><!--/filter-box-->
                    </div>
                </div>

                <div id="proclass-list">
                    <div class="row">
                        {% for pd in pagepd %}
                        <div class="col-md-4 col-sm-6 col-xs-6 procol">
                            <div class="proinfo-img scale-img">
                                <a href="/class/show/{{pd.get('url')}}">
                                    <img src="{{pd.get('pic')}}">
                                </a>
                            </div>
                            <div class="proinfo-text">
                                <h3><a href="/acti/show/{{pd.get('url')}}">{{pd.get('title')}}<a></h3>
								<p class="proinfo-date">{{pd.get('timedict')}}</p>
                                <p class="proinfo-des">
								{{pd.get('labout')[0:200]}}
								</p>
								</br>
								<div class="proinfo-btn row">
                                    <div class=" col-sm-6 col-xs-12">
                                    </div>
                                    <div class=" col-sm-6 col-xs-12">
                                        <button type="submit" class="btn btn-default">熱銷中</button>
                                    </div>
                                </div>
                            </div>
                        </div><!--/procol-->
                        {%endfor%}

                    </div>
                </div>
                <div class="pagination">
                    {{ pagin.links }}
                </div>
            </div><!--/row space-->

        </div>
    </div>
</div>



{% endblock %}
