{% extends "base.html"%}
{% block body %}
    
    
<div id="in-container" class="proinfo-show-box"> 

<div class="container">




<div class="row space">

    <div class="col-xs-12 in-breadcrumb">
        <ol class="breadcrumb">
          <li><a href="index.html">首頁</a></li>
          <li>購物車</li>
          <li class="active">票卷確認購買</li>
        </ol>
    </div><!--in-breadcrumb-->

    <div id="content" class="in-content col-xs-12">
        
        
        <div class="row">
           
        
            <div id="proinfo-show" class="col-xs-12 pro-show">
                 
                 <div class="proinfo-content">
                 
                 <h3>確認購買</h3>
                  <div class="ng-scope">
                       <ul class="list-unstyled APCSS_stepBox">
        <li class="">
            <span class="wrp">
                <span class="md">step</span>
                1. 確認報名
                    <span class="arr"></span>
            </span>
        </li>
        <li class="active">
            <span class="wrp">
                <span class="md">step</span>
                2. 填寫資料
                    <span class="arr"></span>
            </span>
        </li>
        <li class="">
            <span class="wrp">
                <span class="md">step</span>
                3. 選擇付款
                    <span class="arr"></span>
            </span>
        </li>
        <li class="">
            <span class="wrp">
                <span class="md">step</span>
                4. 前往付款
            </span>
        </li>
    
</ul>
                       
                       <div class="alert alert-info" role="alert"><strong>貼心提醒：</strong>請於20分鐘內填寫完成並送出訂單，逾期將釋放名額給其他報名者，您則需要重新報名。</div>
                       <form method="POST" action="/proinfo/bill" ng-init="">
                      {{ pform.csrf_token }}
    <p class="h4">票卷資訊確認</p>
            <hr>
                         <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th  class="text-center" valign="center">NO.</th>
                    <th >票劵名稱</th>
                    <th width="229">票價</th>
                    <th width="50">張數</th>
                    <th width="229">小計</th>
                </tr>
            </thead>
            <tbody>
                {% for x in buyinfo -%}
                    <tr>
                        <td width="64" align="center">{{loop.index}}.</td>
                        <td width="419" valign="middle">{{x[0]}}</td>
                        <td valign="middle" class="ticket-price text-center">NT$ {{x[1]}}</td>
                        <td valign="middle" class="center">{{x[2]}}</td>
                        <td valign="middle" class="ticket-price text-center">NT$ {{x[1] * x[2]}}</td>
                    </tr>
                 {%endfor -%}
                    <tr>
                       <td colspan="1" align="right"> 
                       </td>
                       <td colspan="3" align="right">訂單總計</td>
                       <td class="ticket-price text-center">NT$ {{allmoney}}</td>
                    </tr>
            </tbody>
        </table>
        </div>
        <br />    
    <p class="h4">填寫參加人資訊</p>

        <!-- ngIf: true --><div ng-if="true" class="ng-scope">
            <hr>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
          {{ pform.email(class_="form-control" ,value=current_user.email()) }}
          </div>
          <br />
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"><i class="fa fa-user" aria-hidden="true"></i></span>
          {{ pform.name(class_="form-control" ,value=current_user.name())}}
          </div>
          <br />
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"><i class="fa fa-phone" aria-hidden="true"></i></span>
          {{ pform.phone(class_="form-control" ,value=current_user.info().get('phone')) }}
          </div>

          <br />
          <br />
        
        </div><!-- end ngIf: true -->

    <div class="checkbox fix_checkbox-agree">
        <label>
            <input type="checkbox" ng-model="form.terms" validator="[terms]" validator-group="default" class="ng-pristine ng-valid">
            我已閱讀並同意
            <a href="/" target="_blank">
                票券課程訂購須知
            </a>
            內容所有條款
        </label>
    </div>



        

        <div class="proinfo-form-btn" style="margin-top:10%">
            <input type="submit" class="btn btn-warning" value="確認購買">
            <input type="submit" class="btn btn btn-default" value="取消購買">
        </div> 
        </form>
      
                       <div class="proinfo-form-btn visible-xs"><a class="btn btn-default btn-lg btn-block" target="_self" href="#">返回活動頁</a></div> 
                    </div>     
                   </div><!--/proinfo-content-->
                  
                  </div><!--/proinfo-show-->

                <hr>

            </div>


           
    </div>
        
</div><!--/row space-->
    
</div>
</div>

    

{% endblock %}
