{% extends "base.html"%}
{% block body %}
<div id="in-container" class="proinfo-show-box"> 

<div class="container">




<div class="row space">

    <div class="col-xs-12 in-breadcrumb">
        <ol class="breadcrumb">
          <li><a href="index.html">首頁</a></li>
          <li>購物車</li>
          <li class="active">票卷確認購買</li>
        </ol>
    </div><!--in-breadcrumb-->

    <div id="content" class="in-content col-xs-12">
        
        
        <div class="row">
           
        
            <div id="proinfo-show" class="col-xs-12 pro-show">
                 
                 <div class="proinfo-content">
                 
                 <h3>確認購買</h3>
                  <div class="ng-scope">
                       <ul class="list-unstyled APCSS_stepBox">
        <li class="active">
            <span class="wrp">
                <span class="md">step</span>
                1. 確認報名
                    <span class="arr"></span>
            </span>
        </li>
        <li class="">
            <span class="wrp">
                <span class="md">step</span>
                2. 填寫資料
                    <span class="arr"></span>
            </span>
        </li>
        <li class="">
            <span class="wrp">
                <span class="md">step</span>
                3. 選擇付款
                    <span class="arr"></span>
            </span>
        </li>
        <li class="">
            <span class="wrp">
                <span class="md">step</span>
                4. 前往付款
            </span>
        </li>
    
</ul>
                       <div class="text-primary">
    <strong>貼心提醒：</strong>請確認報名項目並輸入驗證碼後，繼續報名。我們將在下一步開始為您暫時保留名額，建議您儘速完成本步驟，以確保您的報名權益。
</div>
                       <form method='POST' action='/proinfo/checkit'>
                         <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th  class="text-center" valign="center">NO.</th>
                    <th >票劵名稱</th>
                    <th width="229">票價</th>
                    <th width="50">張數</th>
                    <th width="229">小計</th>
                </tr>
            </thead>
            <tbody>
                {% for x in buyinfo -%}
                    <tr>
                        <td width="64" align="center">{{loop.index}}.</td>
                        <td width="419" valign="middle">{{x[0]}}</td>
                        <td valign="middle" class="ticket-price text-center">NT$ {{x[1]}}</td>
                        <td valign="middle" class="center">{{x[2]}}</td>
                        <td valign="middle" class="ticket-price text-center">NT$ {{x[1] * x[2]}}</td>
                    </tr>
                 {%endfor -%}
                    <tr>
                       <td colspan="1" align="right"> 
                       </td>
                       <td colspan="3" align="right">訂單總計</td>
                       <td class="ticket-price text-center">NT$ {{allmoney}}</td>
                    </tr>
            </tbody>
        </table>
    </div>
                         <div class="alert alert-info" role="alert">報名完成後，我們將寄送電子票券至報名人的會員電子郵件中。</div>
                         <div class="row" ng-init="va.checkUserProfile()"></div>
                         <div class="proinfo-form-btn"><input type="submit" class="btn btn-warning" value="確認購買"></div> 
                       </form>
                       <div class="proinfo-form-btn visible-xs"><a class="btn btn-default btn-lg btn-block" target="_self" href="#">返回活動頁</a></div> 
                    </div>     
                   </div><!--/proinfo-content-->
                  
                  </div><!--/proinfo-show-->

                <hr>

            </div>


           
    </div>
        
</div><!--/row space-->
    
</div>
</div>

{% endblock %}
