{% extends "base.html"%}
{% block body %}
<div id="in-container" class="proinfo-show-box"> 

<div class="container">




<div class="row space">

    <div class="col-xs-12 in-breadcrumb">
        <ol class="breadcrumb">
          <li><a href="index.html">首頁</a></li>
          <li>購物車</li>
          <li class="active">票卷確認購買</li>
        </ol>
    </div><!--in-breadcrumb-->

    <div id="content" class="in-content col-xs-12">
        
        
        <div class="row">
           
        
            <div id="proinfo-show" class="col-xs-12 pro-show">
              <div id="shop-head" class="row">
                <div id="mainbanner" class="col-sm-4">
                    <img src="images/pro04.jpg">
                </div><!--/mainbanner-->
                <div class="proinfo-info col-sm-8">
                    <div class="row">
                    <div class="col-lg-2 col-lg-push-10 col-md-3 col-md-push-9 col-xs-12 proinfo-info-share"><img src="images/fb.png"></div>
                    <div class="col-lg-10 col-lg-pull-2 col-md-9 col-md-pull-3 col-xs-12 proinfo-info-title"><h1>『NASA-一場人類冒險』特展 台灣站 太空科技‧盡在眼前</h1></div>
                    </div>                    
                    
                    <ul class="row proinfo-info-box">                    
                    <li class="col-lg-6 col-xs-12"><i class="material-icons">date_range</i> 活動日期：2016-05-28 (六) 09:00 ~ 2016-09-18 (日) 18:00</li>
                    <li class="col-lg-6 col-xs-12"><i class="material-icons">place</i> 活動地點：<a href="#" target="_blank">台北市士林區士商路189號 (國立臺灣科學教育館 七樓特展室)</a></li>
                    <li class="col-lg-6 col-xs-12"><i class="material-icons">link</i> 相關連結：<a href="#" target="_blank">http://space-event.com.tw/zh-tw/home</a></li>
                    <li class="col-lg-6 col-xs-12 proinfo-info-class"><i class="material-icons">view_week</i> 活動分類： <a href="#">科技</a></li>
                    <li class="col-lg-6 col-xs-12"><i class="material-icons">stars</i> 主辦單位：<a href="#" target="_blank">傑迪斯整合行銷股份有限公司</a></li>
                    
                    </ul>
                                     
                 </div><!--/proinfo-info-->
                </div>
              <hr>
                 
                 <div class="proinfo-content">
                 
                 <h3>確認購買</h3>
                  <div class="ng-scope">
                       <ul class="list-unstyled APCSS_stepBox">
        <li class="active">
            <span class="wrp">
                <span class="md">step</span>
                1. 確認報名
                    <span class="arr"></span>
            </span>
        </li>
        <li class="">
            <span class="wrp">
                <span class="md">step</span>
                2. 填寫資料
                    <span class="arr"></span>
            </span>
        </li>
        <li class="">
            <span class="wrp">
                <span class="md">step</span>
                3. 選擇付款
                    <span class="arr"></span>
            </span>
        </li>
        <li class="">
            <span class="wrp">
                <span class="md">step</span>
                4. 前往付款
            </span>
        </li>
    
</ul>
                       <div class="text-primary">
    <strong>貼心提醒：</strong>請確認報名項目並輸入驗證碼後，繼續報名。我們將在下一步開始為您暫時保留名額，建議您儘速完成本步驟，以確保您的報名權益。
</div>
                       <form>
                         <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>票劵名稱</th>
                    <th width="100">票價</th>
                    <th width="100">張數</th>
                    <th width="100">小計</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td>NASA-一場人類冒險</td>
                        <td class="ticket-price text-center">NT$ 2200</td>
                        <td class="center">1</td>
                        <td class="ticket-price text-center">NT$ 2200</td>
                    </tr>
            </tbody>
        </table>
    </div>
                         <div class="alert alert-info" role="alert">報名完成後，我們將寄送電子票券至報名人的會員電子郵件中。</div>
                         <div class="row" ng-init="va.checkUserProfile()"></div>
                         <div class="proinfo-form-btn"><input type="submit" class="btn btn-warning" value="確認購買"></div> 
                       </form>
                       <div class="proinfo-form-btn visible-xs"><a class="btn btn-default btn-lg btn-block" target="_self" href="#">返回活動頁</a></div> 
                    </div>     
                   </div><!--/proinfo-content-->
                  
                  </div><!--/proinfo-show-->

                <hr>

            </div>


           
    </div>
        
</div><!--/row space-->
    
</div>
</div>

{% endblock %}
