{% extends "base.html"%}
{% block body %}
<div id="in-container" class="proinfo-box"> 
    <div class="container">
        <div class="row" style="margin-top: 20px">
            <div class="col-xs-12 in-breadcrumb">
                <ol class="breadcrumb">
                    <li><a href="/">首頁</a></li>
                    <li><a href="/class">培訓課程</a></li>
                    <li class="active">課程提案</li>
                </ol>
            </div><!--in-breadcrumb-->
        </div>
        <div class="col-xs-12 col-md-12 col-sm-12" style="padding:0px 0px 0px 0px">
            <h1 class="page-header">
                <i class="fa fa-picture-o" aria-hidden="true"></i>
                封面上傳
            </h1>
                <img src="/static/images/upload-background.png">
            <h1 class="page-header"></h1>

            <input type="text" class="form-control" placeholder="請輸入課程名稱" style="margin-bottom:20px">

            <div class="col-xs-12 col-sm-12 col-md-12" style="padding: 0px 0px 0px 0px;">
                <ul class="row proinfo-info-box">                    
                    <li class="col-lg-6 col-xs-12">
                        <i class="material-icons">date_range</i> 
                            活動日期：
                    </li>
                    <li class="col-lg-6 col-xs-12">
                        <i class="material-icons">place</i> 
                            活動地點：
                        <a href="#" target="_blank">
                        </a>
                    </li>
                    <li class="col-lg-6 col-xs-12">
                        <i class="material-icons">link</i>
                        相關連結：
                        <a href="#" target="_blank"></a>
                    </li>
                    <li class="col-lg-6 col-xs-12">
                        <i class="material-icons">stars</i>
                        主辦單位：
                        <a href="#" target="_blank"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
